@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    text-transform: capitalize;
    font-weight: 600  
}

body{
    background: linear-gradient( skyblue, white);
    background-repeat: no-repeat;
}

.fondo__img{
    width: 100%;
    height: 100%;
}
.fondo__img--1{
    width: 35%;
    height: 100%;
    margin-top: 1%;
    margin-left: 35%;
}

.fondo__poquemonInfo{
    position: relative;
    text-align: left;
    width: 25%;
    height: 21vw;
    top: -41vw;
    left: 37.5vw;
}

#id{
    position: absolute;
    color: grey;
    margin: 0;
    padding: 0;
    font-size: 2.5vw;
    text-align: right;
    top: 17.3vw;
    width: 15vw;
    left: -2vw;
}

.foto{
    position: absolute;
    width: 30%;
    top: 5vw;
    left: 35%;
}
.name{
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    text-align: rigth;
    top: 17.5vw;
    left: 14vw;
}
#fondo__formBusqueda--formtext{
    position: absolute;
    font-size: 1.5vw;
    top: 36vw;
    left: 40vw;
    height: 4vw;
    width: 23vw;
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    border: 0.1vw solid black ;
    padding: 2%;
    font-weight: 500  
}
.fondo__formBusqueda--borde{
    position: absolute;
    top: 36.5vw;
    left: 39.5vw;
    height: 4vw;
    width: 23vw;
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    border: 0.1vw solid black ;
    background-color: gray;
}
#fondo__formBusqueda--prev{
    position: absolute;
    top: 44.3vw;
    left: 40%;
    width: 10%;
    height: 5%;
    background-color: rgb(80, 77, 77);
    color: white;
    border-top-left-radius: 0.7vw;
    border-top-right-radius: 0.7vw;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
    font-size: 1.5vw;
}
#fondo__formBusqueda--next{
    position: absolute;
    top: 44.3vw;
    left: 52%;
    width: 10%;
    height: 5%;
    background-color: rgb(80, 77, 77);
    color: white;
    border-top-left-radius:  0.7vw;
    border-top-right-radius: 0.7vw;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
    font-size: 1.5vw;
}
.fondo__formBusqueda--borde2{
    position: absolute;
    top: 45.2vw;
    left: 51.8%;
    width: 10%;
    height: 4%;
    background-color: rgb(54, 51, 51);
    color: white;
    border-top-left-radius:  0.7vw;
    border-top-right-radius: 0.7vw;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
}
.fondo__formBusqueda--borde3{
    position: absolute;
    top: 45.2vw;
    left: 39.8%;
    width: 10%;
    height: 4%;
    background-color: rgb(54, 51, 51);
    color: white;
    border-top-left-radius: 0.7vw;
    border-top-right-radius: 0.7vw;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;

}
.nada{
    position: absolute;
    font-size: 1.5vw;
    top: 17vw;
    left: 20%;
}